# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\VEHO_PRACTICE\spark_api_restful_practice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
